distribute
django-extensions
wsgiref
yolk
path.py
South
django-grappelli
fabric
django-compressor
django<1.4
pillow
psycopg2
sorl-thumbnail
django-debug-toolbar
ipython
uWSGI
Werkzeug
pylibmc
django-pylibmc-sasl
django-flatblocks
django-autoslug
django-annoying
